@import 'modern-css-reset';
@import 'language-colors/language-colors.css';

@font-face {
	font-family: 'VT323';
	font-weight: 400;
	src: local('VT323'), url('/VT323.woff2') format('woff2'), url('/VT323.ttf') format('truetype');
	font-display: swap;
}

/* :root{ */
    /* --xs: 0.618; */
    /* --sm: 1; */
    /* --md: 1.618; */
    /* --lg: 2.618; */
    /* --xl: 4.236; */
/* } */

:root{
    --xs: 0.714;
    --sm: 1;
    --md: 1.4;
    --lg: 1.96;
    --xl: 2.744;
}

/* container-width */
:root{
    --container-width: 1024px;
}

/* space */
:root{
    --space-base-value: calc(var(--font-base-value) / 2);
    --xs-space: calc(var(--xs) * var(--space-base-value));
    --sm-space: calc(var(--sm) * var(--space-base-value));
    --md-space: calc(var(--md) * var(--space-base-value));
    --lg-space: calc(var(--lg) * var(--space-base-value));
    --xl-space: calc(var(--xl) * var(--space-base-value));
}

/* font-family */
:root {
    --display-font: VT323;
    --content-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* font-size */
:root{
    --font-base-value: 16px;
    --xs-font: calc(var(--xs) * var(--font-base-value));
    --sm-font: calc(var(--sm) * var(--font-base-value));
    --md-font: calc(var(--md) * var(--font-base-value));
    --lg-font: calc(var(--lg) * var(--font-base-value));
    --xl-font: calc(var(--xl) * var(--font-base-value));
}

/* color */
:root{
    --base-color: hsla(50, 10%, 11%, 1);
    --base-contrast-color: hsla(50, 5%, 90%, 1);
    --highlight-color: hsla(45, 98%, 50%, 1);
    --highlight-tint1-color: hsla(45, 98%, 75%, 1);
}

/* border-radius */
:root{
    --radius-base-value: 5px;
    --xs-radius: calc(var(--xs) * var(--radius-base-value));
    --sm-radius: calc(var(--sm) * var(--radius-base-value));
    --md-radius: calc(var(--md) * var(--radius-base-value));
    --lg-radius: calc(var(--lg) * var(--radius-base-value));
    --xl-radius: calc(var(--xl) * var(--radius-base-value));
}

/* animation delay */
:root{
    --time-base-value: 500ms;
    --time-1: var(--time-base-value);
    --time-2: calc(2 * var(--time-base-value));
    --time-3: calc(3 * var(--time-base-value));
    --time-4: calc(4 * var(--time-base-value));
    --time-5: calc(5 * var(--time-base-value));
    --time-6: calc(6 * var(--time-base-value));
    --time-7: calc(7 * var(--time-base-value));
    --time-8: calc(8 * var(--time-base-value));
    --time-9: calc(9 * var(--time-base-value));
}

/* Patching language-color */
.bg-color-svelte { background-color: #ff3e00 !important; }
.bg-color-purescript { border: 0.7px solid #fff; }

/* Specific to the current theme */
.font-color-javascript{
    color: #000;
}

.font-color-shell{
    color: #000;
}

.font-color-dhall{
    color: #000;
}
