@font-face {
	font-family: 'VT323';
	font-weight: 400;
	src: local('VT323'), url('/VT323.woff2') format('woff2'), url('/VT323.ttf') format('truetype');
	font-display: swap;
}

a {
   text-decoration: none;
}

ul {
    list-style: none;
    padding: 0px;
}

:root{
    --xs: 1;
    --sm: 1.618;
    --md: 2.618;
    --lg: 4.236;
}

:root{
    --base-value: 12px;
}

@media (min: 768px) {
  :root {
    --base-value: 16px;
  }
}

:root{
    --xs-mb: calc(var(--xs) * var(--mb-base-value));
    --sm-mb: calc(var(--sm) * var(--mb-base-value));
}
